<section class="resume-section bg-[var(--card)] p-6 rounded-lg shadow-sm">
    <h2 class="text-xl font-bold mb-4 border-b pb-2 border-[var(--primary)]">About Me</h2>
    
    <div class="mb-3">
        <div class="flex justify-between text-sm mb-1">
            <span>When I’m not working, I like spending time climbing at bouldering gyms, which helps me clear my head, relax and stay active. I also enjoy playing video games with my friends and riding motorcycles. Getting out on the road, enjoying the fresh air and getting away from everything is one of my favorite ways to relax.</span>
        </div>
    </div>
</section>